# Utils
numpy
ipykernel
tqdm
matplotlib

# OpenAI Gym
gym==0.21.0
nle==0.9.0
gymnasium<1.0.0 # TorchRL currently does not support gymnasium 1.0.0
minigrid

# Machine Learning Stuff
torch
torchvision
av # Required for video recording
torchrl
sentence-transformers==3.0.0