# Setup
cookiecutter-data-science

# Utils
numpy
pandas
ipykernel
tqdm
matplotlib
rich
hydra-core
opencv-python

# OpenAI Gym
nle
gymnasium<1.0.0 # TorchRL currently does not support gymnasium 1.0.0

# Machine Learning Stuff
torch
torchvision
lightning
torchrl
av # Required for video recording
sentence-transformers==3.0.0
h5py # For storing training data
wandb
captum # Analysis library